.site-main {
  position: relative;
  min-width: 1300px;
  min-height: 540px;
  background-color: #014e56;
}

.form__inner {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.form__title {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  margin-bottom: 16px;
}

.form__desc {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #f67e7e;
  margin-bottom: 32px;
}

.d-form {
  display: flex;
  align-items: center;
}

.d-form__desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-left: 23px;
}

/* form */
.input {
  display: block;
  min-height: 42px;
  min-width: 540px;
  border: none;
  outline: none;
  background-color: #014e56;
  border-bottom: 1px solid #fff;
  padding-bottom: 16px;
  padding-left: 14px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 24px;
  letter-spacing: -0.115385px;
  transition: all 0.3s ease;
}

.input:hover {
  border-color: #f67e7e;
}

.textarea {
  display: block;
  min-width: 540px;
  min-height: 70px;
  resize: vertical;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #014e56;
  padding-left: 14px;
  transition: all 0.3s ease-out;
  margin-bottom: 24px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.115385px;
}

.textarea:hover {
  border-color: #f67e7e;
}

.btn {
  display: inline-block;
  color: #004047;
  font-weight: 600;
  font-size: 18px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 24px;
  padding: 11px 32px;
}

.btn:hover {
  background-color: #004047;
  color: #fff;
  border-color: #004047;
}
